.bread{
    color: saddlebrown;
}

.mayo{
    color: papayawhip;
}

.tomato{
    color: tomato;
}

.ham{
    color: lightpink;
}

.cheese{
    color: yellow;
}
.lettuce{
    color:green;
}

.mustard{
    color: sandybrown;
}
